GEE_PROJECT_ID=your-google-cloud-project-id
GEE_PRIVATE_KEY_PATH=./path-to-your-service-account-key.json
SENTINEL_HUB_CLIENT_ID=your-sentinel-hub-id
SENTINEL_HUB_CLIENT_SECRET=your-sentinel-hub-secret
